.ag-theme-balham .ag-column-select-panel {
  padding-left: 8px;
  padding-right: 8px;
}

.ag-theme-balham .ag-row {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.ag-theme-balham .ag-cell {
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  box-sizing: border-box;
}

.ag-theme-balham .ag-cell-with-height {
  height: auto;
}

.ag-theme-balham .ag-cell-focus {
  border: 1px solid #ebf7ff !important;
}

.ag-theme-balham .ag-row-hover {
  background-color: #ebf7ff;
}
